html {
  background-image: url("https://terrarp.com/db/bg3.webp");
  background-repeat: no-repeat;
  background-position: top;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
}

#bodyback {
  background-color: #eeeeee;
  width: 75vw;
  border-radius: 4px;
  box-sizing: border-box;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 10px;
  padding-bottom: 20px;
  max-width: 900px;
}

#threadcodeinput, #threadcodebutton {
  display: none;
}

#thrcodebutton {
  background-color: #a9357b;
  color: white;
  border-radius: 4px;
  padding: 3px;
  user-select: none;
  cursor: pointer;
  text-align: center;
  font-size: 90%;
}

#threadcodebutton {
  text-align: center;
}

h1 {
  font-weight: bold;
}

.button-container{
  text-align: center;
}

.actionboxinfo {
    background: #fff;
    border-radius: 4px;
    /*margin: 10px 5px;*/
    padding: 10px 20px;
    border: 1px solid #e1e1e1;
}

#instructiontoggle, #helpfullinkstoggle {
  text-decoration: underline;
  text-decoration-style: dotted;
  margin: auto;
  width: auto;
  cursor: pointer;
  display: inline-block;
  user-select: none;
}

#instructions, #helpfullinks {
  display: none;
  padding: 5px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 10px 3px;
  text-align: left;
  padding-right: 1.8vw;
}

#finalcode {
  font-family: monospace;
  margin: auto;
}

ol > li {
  margin-bottom: 0.5vw;
}

ul {
  font-size: 0.8rem;
  color: #444444;
}

.mcontainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-right: -3vw;
}

.masterycategory {
  text-align: left;
  font-size: 1.35rem;
  padding: 0 5px;
}

#inputbox {
  margin: 5px;
}

.masterycircle {
  height: 15vw;
  width: 15vw;
  max-width: 90px;
  max-height: 90px;
  border-radius: 50%;
  margin: 5px 10px 5px 10px;
  /*margin-left: 1vw;
  margin-bottom: 1vw;*/
  background-color: #b0b0b0;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  user-select: none;
  box-sizing: border-box;
  transition: all .1s ease-in-out;
  cursor: pointer;
}

.mbox {
  position: relative;
  margin: 0;
}

.masterycircle > img {
  width: 12vw;
  height: 12vw;
  max-width: 70px;
  max-height: 70px;
  margin: auto;
}

.tooltip {
  z-index: 1;
  visibility: hidden;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  font-size: 0.8rem;
  padding: 5px 10px;
  width: auto;
  border-radius: 4px;
  user-select: none;
  max-width: 90px;
  margin: 0 auto;
  text-align: center;
}

.mbox:hover .tooltip {
  visibility: visible;
}

.selectorheader{
  font-weight: 500;
  font-size: 1.2rem;
  background: #e8e8e8;
  padding: 5px 10px;
  border-left: 10px solid #ddd;
  margin-bottom: 5px;
  border-radius: 3px;
  color: #444;
}

.mselector:hover{
  transform: scale(0.90);
}

.mselector{
  cursor: pointer;
}

.armorpassive {
  display: none;
}

.selected{
  border: 1px solid #ccc;/*a9357b*/
}

.selected.arcanamancy {
  background-color: #50cbe3;
}

.selected.evoke  {
  background-color: #50c8cb;
}

.selected.pierce-weapons {
  background-color: #46bcc8;
}

.selected.astramancy {
  background-color: #ae43c3;
}

.selected.dark-magic {
  background-color: #883cca;
}

.selected.animancy {
  background-color: #6c319d;
}

.selected.corrupt {
  background-color: #813090;
}

.selected.beast-arts {
  background-color: #db7233;
}

.selected.crush-weapons {
  background-color: #ce5e32;
}

.selected.geomancy {
  background-color: #a76a36;
}

.selected.guard-arts {
  background-color: #f2bb36;
}

.selected.divine-magic {
  background-color: #edb82a;
}

.selected.aura {
  background-color: #e0b439;
}

.selected.hemomancy {
  background-color: #c32222;
}

.selected.pyromancy {
  background-color: #cb3739;
}

.selected.battle-spirits {
  background-color: #b72c2c;
}

.selected.weapon-arts {
  background-color: #cb5050;
}

.selected.hydromancy {
  background-color: #66b8ea;
}

.selected.harmonic-magic {
  background-color: #36a5e8;
}

.selected.illusion-magic {
  background-color: #ea5694;
}

.selected.chronomancy {
  background-color: #ec4a97;
}

.selected.metamorph {
  background-color: #cc4e71;
}

.selected.aeromancy {
  background-color: #48d1c3;
}

.selected.spirit-magic {
  background-color: #50c8cb;
}

.selected.martial-arts {
  background-color: #c9c9c9;
}

.selected.magitech {
  background-color: #5c6779;
}

.selected.ranged-weapons {
  background-color: #77b933;
}

.selected.nature-magic {
  background-color: #91c023;
}

.selected.dynamism {
  background-color: #87ad3d;
}

.selected.shadow-arts {
  background-color: #383838;
}

.selected.slash-weapons {
  background-color: #4263cb;
}

.selected.mend {
  background-color: #2f8cc1;
}

.selected.summon {
  background-color: #4a4da5;
}

.selected.alchemy {
  background-color: #53b159;
}

.selected.hyper-sense {
  background-color: #40883a;
}

.displaycircle.arcanamancy {
  background-color: #50cbe3;
}

.displaycircle.evoke  {
  background-color: #50c8cb;
}

.displaycircle.pierce-weapons {
  background-color: #46bcc8;
}

.displaycircle.astramancy {
  background-color: #ae43c3;
}

.displaycircle.dark-magic {
  background-color: #883cca;
}

.displaycircle.animancy {
  background-color: #6c319d;
}

.displaycircle.corrupt {
  background-color: #813090;
}

.displaycircle.beast-arts {
  background-color: #db7233;
}

.displaycircle.crush-weapons {
  background-color: #ce5e32;
}

.displaycircle.geomancy {
  background-color: #a76a36;
}

.displaycircle.guard-arts {
  background-color: #f2bb36;
}

.displaycircle.divine-magic {
  background-color: #edb82a;
}

.displaycircle.aura {
  background-color: #e0b439;
}

.displaycircle.hemomancy {
  background-color: #c32222;
}

.displaycircle.pyromancy {
  background-color: #cb3739;
}

.displaycircle.battle-spirits {
  background-color: #b72c2c;
}

.displaycircle.weapon-arts {
  background-color: #cb5050;
}

.displaycircle.hydromancy {
  background-color: #66b8ea;
}

.displaycircle.harmonic-magic {
  background-color: #36a5e8;
}

.displaycircle.illusion-magic {
  background-color: #ea5694;
}

.displaycircle.chronomancy {
  background-color: #ec4a97;
}

.displaycircle.metamorph {
  background-color: #cc4e71;
}

.displaycircle.aeromancy {
  background-color: #48d1c3;
}

.displaycircle.spirit-magic {
  background-color: #50c8cb;
}

.displaycircle.martial-arts {
  background-color: #c9c9c9;
}

.displaycircle.magitech {
  background-color: #5c6779;
}

.displaycircle.ranged-weapons {
  background-color: #77b933;
}

.displaycircle.nature-magic {
  background-color: #91c023;
}

.displaycircle.dynamism {
  background-color: #87ad3d;
}

.displaycircle.shadow-arts {
  background-color: #383838;
}

.displaycircle.slash-weapons {
  background-color: #4263cb;
}

.displaycircle.mend {
  background-color: #2f8cc1;
}

.displaycircle.summon {
  background-color: #4a4da5;
}

.displaycircle.alchemy {
  background-color: #53b159;
}

.displaycircle.hyper-sense {
  background-color: #40883a;
}

.display.arcanamancy {
  background-color: #50cbe3;
}

.display.evoke  {
  background-color: #50c8cb;
}

.display.pierce-weapons {
  background-color: #46bcc8;
}

.display.astramancy {
  background-color: #ae43c3;
}

.display.dark-magic {
  background-color: #883cca;
}

.display.animancy {
  background-color: #6c319d;
}

.display.corrupt {
  background-color: #813090;
}

.display.beast-arts {
  background-color: #db7233;
}

.display.crush-weapons {
  background-color: #ce5e32;
}

.display.geomancy {
  background-color: #a76a36;
}

.display.guard-arts {
  background-color: #f2bb36;
}

.display.divine-magic {
  background-color: #edb82a;
}

.display.aura {
  background-color: #e0b439;
}

.display.hemomancy {
  background-color: #c32222;
}

.display.pyromancy {
  background-color: #cb3739;
}

.display.battle-spirits {
  background-color: #b72c2c;
}

.display.weapon-arts {
  background-color: #cb5050;
}

.display.hydromancy {
  background-color: #66b8ea;
}

.display.harmonic-magic {
  background-color: #36a5e8;
}

.display.illusion-magic {
  background-color: #ea5694;
}

.display.chronomancy {
  background-color: #ec4a97;
}

.display.metamorph {
  background-color: #cc4e71;
}

.display.aeromancy {
  background-color: #48d1c3;
}

.display.spirit-magic {
  background-color: #50c8cb;
}

.display.martial-arts {
  background-color: #c9c9c9;
}

.display.magitech {
  background-color: #5c6779;
}

.display.ranged-weapons {
  background-color: #77b933;
}

.display.nature-magic {
  background-color: #91c023;
}

.display.dynamism {
  background-color: #87ad3d;
}

.display.shadow-arts {
  background-color: #383838;
}

.display.slash-weapons {
  background-color: #4263cb;
}

.display.mend {
  background-color: #2f8cc1;
}

.display.summon {
  background-color: #4a4da5;
}

.display.alchemy {
  background-color: #53b159;
}

.display.hyper-sense {
  background-color: #40883a;
}

.selected.armor {
  background-color: rgba(220,200,25,1);
}

#masterycontainer, #rankselector, #actionselector, #builddisplay, #importdisplay {
  display: block;
  padding: 10px;
}

#rankselector {
  display: none;
}

#masteryrankpick {
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
}

#actionselector {
  display: none;
}

#builddisplay {
  display: none;
}

#importdisplay {
  display: none;
}

.button {
  display: inline-block;
  padding: 10px 15px;
  box-sizing: border-box;
  border-radius: 4px;
  color: #ffffff;
  background-color: #a9357b;
  user-select: none;
  cursor: pointer;
  font-size: 1.2rem;
  margin-right: 5px;
  width: 160px;
}

.buttonimport {
  padding: 5px 5px;
  box-sizing: border-box;
  border-radius: 4px;
  color: #ffffff;
  background-color: #a9357b;
  user-select: none;
  cursor: pointer;
}

#button2, #button3, #button2back, #button3back, #button4back {
  display: none;
 }

 .exceedcontainer {
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .exceedbutton {
    margin-right: 5px;
    font-weight: bold;
    font-size: 120%;
    user-select: none;
    cursor: pointer;
    background-color: #444;
    color: #fff;
    padding: 5px 15px;
    margin: 2px;
    border-radius: 25px;
    min-width: 20px;
    text-align: center;
}

 @media (max-width: 344px){
#button1, #button2, #button3, #button2back, #button3back, #button4back{
  width: 95%!important;
  margin: 5px auto!important;
}
}

.rankpick {
  display: flex;
  justify-content: space-around;
  padding: 10px 5px;
  font-size: 1rem;
  flex-wrap: wrap;
}

.rankcontainer {
  display: flex;
  flex-direction: column;
  margin-left: 0.6vw;
  margin-right: 0.6vh;
  text-align: center;
  font-weight: 600;
  line-height: 220%;
  font-size: 1.1rem;
}

.card{
  margin: 5px;
  font-size: 12px;
  border-radius: 4px;
  padding: 0 5px;
  border: 2px solid #e4e4e4;
  background-color: #e4e4e4;
  align-content: flex-start;
  flex: 1 1 300px;
}

@media (min-width: 768px){
.card {
    flex: 1 1 30%;
}
}

.displaytitle{
  font-size: 1rem;
  font-weight: 600;
  margin: 5px 10px 0 10px;
}
.masterycategory.displayrank{
  font-size: 170%!important;
}
.displayrank{
  font-weight: 900;
  font-size: 1.5em;
  color: #555;
  line-height: 110%;
}
.passivecontainer h4{
  margin: 5px;
  font-weight: bold;
}
.passivecontainer p{
  margin: 5px;
  /*font-size: 90%;*/
}

.edisplay .displaytitle{
  width: 40%;
}
.edisplay .displayrank{
  width: 20%;
}

@media (max-width: 768px) and (min-width: 422px) {
.passivecontainer{
  width: 720px;
  max-width: none;
}
}

@media (min-width: 768px){
.card {
    flex: 1 1 30%;
}
.test{
    flex: 1 1 60%!important;
}
.edisplay.armorskilldisplay, .edisplay.armorrankdisplay, .edisplay.weaponrankdisplay{
    flex: 1 1 30%!important;
}
}
@media (max-width: 768px){
.edisplay .displaycircle{
  margin: auto;
}
.edisplay .displaytitle{
  width: 40%;
}
.edisplay .displayrank{
  width: 20%;
}
#button1, #button2, #button3, #button2back, #button3back, #button4back{
  width: 48%!important;
  margin: 5px auto!important;
}
}

.card.choice.selected .rollcode{
  background: #333;
  border: 1px solid #333;
}
.card.choice.selected .cardtitle{
    color: #fff;
}
.card.choice.selected .cardtitle, .card.choice.selected .cardroll, .card.choice.selected .cardinfo {
    border-bottom: 1px solid #444;
}
.card.choice.selected {
  background-color: #222;
  color: #eee;
  border-color: #aaa;
}

.cardtitle {
  font-size: 20px;
  font-weight: 700;
  padding-left: 5px;
  padding-bottom: 5px;
}
.cardtitle, .cardroll, .cardinfo{
    border-bottom: 1px solid #d5d5d5;
    margin: 5px 0;
}

.cardroll, .cardinfo{
  padding: 0 5px 10px 5px;
}

.cardroll{
  padding-bottom: 10px;
}

.cardicon {
    float: right;
    background: #ccc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-position: 50% 50%;
    margin-top: 5px;
}

.cardinfo p{
  margin-bottom: 5px;
}

.actiontype{
  font-style: italic;
}

.charimg, .charimg2 {
  display: none;
  margin: auto;
  width: 15vw;
}

p {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.displaycircle.equipment{
  background-color: transparent!important;
}
.edisplay .displaycircle, .edisplay.armorrankdisplay img, .edisplay.weaponrankdisplay img{
  max-width: 40px;
  max-height: 40px;
}
.edisplay.armorskilldisplay, .edisplay.armorrankdisplay, .edisplay.weaponrankdisplay{
    flex: 1 1 300px;
}
.edisplay.armorrankdisplay,.edisplay.weaponrankdisplay{
  padding: 0 10px;
  background-color: #d1d1d1;
  margin: 0 5px 5px 0;
  border-radius: 4px;
}
.edisplay{
  min-width: 145px;
}
.edisplay .displaytitle{
  align-items: center;
  text-align: center;
  display: flex;
  padding: 5px;
}
.edisplay .displayrank{
  padding: 15px 10px;
  align-items: center;
  display: flex;
}

.aci-rush {
    background-image: url(https://terrarp.com/db/action/rush.png);
    background-repeat: no-repeat;
}
.aci-recover {
    background-image: url(https://terrarp.com/db/action/recover.png);
    background-repeat: no-repeat;
}
.aci-attack {
    background-image: url(https://terrarp.com/db/action/attack.png);
    background-repeat: no-repeat;
}
.aci-counter{
	background-image: url(https://terrarp.com/db/action/counter.png);
	background-repeat: no-repeat;
}
.aci-taunt{
	background-image: url(https://terrarp.com/db/action/taunt.png);
	background-repeat: no-repeat;
}
.aci-protect{
	background-image: url(https://terrarp.com/db/action/protect.png);
	background-repeat: no-repeat;
}
.aci-hinder{
	background-image: url(https://terrarp.com/db/action/hinder.png);
	background-repeat: no-repeat;
}
.aci-ultra-protect{
	background-image: url(https://terrarp.com/db/action/uprotect.png);
	background-repeat: no-repeat;
}
.aci-ultra-hinder{
	background-image: url(https://terrarp.com/db/action/uhinder.png);
	background-repeat: no-repeat;
}
.aci-revive{
	background-image: url(https://terrarp.com/db/action/revive.png);
	background-repeat: no-repeat;
}
.aci-rush{
	background-image: url(https://terrarp.com/db/action/rush.png);
	background-repeat: no-repeat;
}
.aci-burst{
	background-image: url(https://terrarp.com/db/action/burst.png);
	background-repeat: no-repeat;
}
.aci-critical{
	background-image: url(https://terrarp.com/db/action/critical.png);
	background-repeat: no-repeat;
}
.aci-reckless{
	background-image: url(https://terrarp.com/db/action/reckless.png);
	background-repeat: no-repeat;
}
.aci-steady{
	background-image: url(https://terrarp.com/db/action/steady.png);
	background-repeat: no-repeat;
}
.aci-heavy {
    background-image: url(https://terrarp.com/db/action/heavy-a.png);
    background-repeat: no-repeat;
}
.aci-sneak {
    background-image: url(https://terrarp.com/db/action/sneak.png);
    background-repeat: no-repeat;
}
.aci-heal{
	background-image: url(https://terrarp.com/db/action/heal.png);
	background-repeat: no-repeat;
}
.aci-buff{
	background-image: url(https://terrarp.com/db/action/buff.png);
	background-repeat: no-repeat;
}
.aci-dispel{
	background-image: url(https://terrarp.com/db/action/dispel.png);
	background-repeat: no-repeat;
}
.aci-power-heal{
	background-image: url(https://terrarp.com/db/action/pheal.png);
	background-repeat: no-repeat;
}
.aci-power-buff{
	background-image: url(https://terrarp.com/db/action/pbuff.png);
	background-repeat: no-repeat;
}
.aci-damage{
	background-image: url(https://terrarp.com/db/action/damage.png);
	background-repeat: no-repeat;
}
.aci-support{
	background-image: url(https://terrarp.com/db/action/support.png);
	background-repeat: no-repeat;
}
.aci-defense{
	background-image: url(https://terrarp.com/db/action/defense.png);
	background-repeat: no-repeat;
}
.aci-speed{
	background-image: url(https://terrarp.com/db/action/speed.png);
	background-repeat: no-repeat;
}
.aci-maneuver{
	background-image: url(https://terrarp.com/db/action/maneuver.png);
	background-repeat: no-repeat;
}
.aci-ferrier{
	background-image: url(https://terrarp.com/db/action/ferrier.png);
	background-repeat: no-repeat;
}
.aci-extra-movement{
	background-image: url(https://terrarp.com/db/action/movement.png);
	background-repeat: no-repeat;
}
.aci-extension{
	background-image: url(https://terrarp.com/db/action/extension.png);
	background-repeat: no-repeat;
}
.aci-alter-hinder{
	background-image: url(https://terrarp.com/db/action/alter-hinder.png);
	background-repeat: no-repeat;
}

.aci-alter-dispel{
	background-image: url(https://terrarp.com/db/action/alter-dispel.png);
	background-repeat: no-repeat;
}

.aci-inspire{
	background-image: url(https://terrarp.com/db/action/inspire.png);
	background-repeat: no-repeat;
}

.aci-carry{
	background-image: url(https://terrarp.com/db/action/carry.png);
	background-repeat: no-repeat;
}

.aci-momentum{
	background-image: url(https://terrarp.com/db/action/momentum.png);
	background-repeat: no-repeat;
}

.aci-alter-inspire{
	background-image: url(https://terrarp.com/db/action/inspire.png);
	background-repeat: no-repeat;
}

.aci-exceed{
	background-image: url(https://terrarp.com/db/action/exceed.png);
	background-repeat: no-repeat;
}

.aci-haste {
    background-image: url(https://terrarp.com/db/action/haste.png);
    background-repeat: no-repeat;
}

.aci-instability {
    background-image: url(https://terrarp.com/db/action/instability.png);
    background-repeat: no-repeat;
}

.aci-reposition {
    background-image: url(https://terrarp.com/db/action/reposition.png);
    background-repeat: no-repeat;
}

.aci-coordinate {
    background-image: url(https://terrarp.com/db/action/coordinate.png);
    background-repeat: no-repeat;
}

.aci-protect-aura {
    background-image: url(https://terrarp.com/db/action/paura.png);
    background-repeat: no-repeat;
}
.aci-avenger {
    background-image: url(https://terrarp.com/db/action/avenger.png);
    background-repeat: no-repeat;
}

.aci-fortitude {
  /*background-image: url(https://terrarp.com/db/tool/fortitude.png);*/
  background-color: #df6135;
  background-repeat: no-repeat;
}

.aci-reflex {
  /*background-image: url(https://terrarp.com/db/tool/reflex.png);*/
  background-color: #68b435;
  background-repeat: no-repeat;
}

.aci-will {
  /*background-image: url(https://terrarp.com/db/tool/will.png);*/
  background-color: #9f5cce;
  background-repeat: no-repeat;
}

.aci-fitness {
  /*background-image: url(https://terrarp.com/db/tool/fitness.png);*/
  background-color: #d02222;
  background-repeat: no-repeat;
}

.aci-knack {
  /*background-image: url(https://terrarp.com/db/tool/knack.png);*/
  background-color: #389c44;
  background-repeat: no-repeat;
}

.aci-awareness {
  /*background-image: url(https://terrarp.com/db/tool/awareness.png);*/
  background-color: #de6e47;
  background-repeat: no-repeat;
}

.aci-knowledge {
  /*background-image: url(https://terrarp.com/db/tool/knowledge.png);*/
  background-color: #6e51cb;
  background-repeat: no-repeat;
}

.aci-presence {
  /*background-image: url(https://terrarp.com/db/tool/presence.png);*/
  background-color: #e2427b;
  background-repeat: no-repeat;
}

.rollcode {
  font-family: monospace;
  user-select: all;
  background: #fff;
  border: 1px solid #ccc;
  margin: 5px;
  margin-bottom: 5px;
  margin-top: 0!important;
  padding: 5px;
}

.line {
  display: block;
  height: 1px;
  border-top: 1px solid #d5d5d5;
  margin-bottom:10px;
}

.choice{
  cursor: pointer;
}

.droplist{
  background-color: #ddd;
  border-radius: 4px;
  border: 0;
  padding: 10px;
}

.ts-logo{
  padding: 20px;
  text-align: center;
}
.ts-logo img{
  max-width: 100%;
}

.togglecontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.togglesavechecks {
    font-size: 1.1em;
    font-weight: bold;
    background-color: #444;
    color: #fff;
    padding: 5px 15px;
    margin: 2px;
    border-radius: 25px;
    user-select: none;
    cursor: pointer;
    text-align: center;
}

/*.card > div {
  padding-bottom: 4px;
}*/

#pickactions, .freeactions {
  display: flex;
  align-items: stretch;
  align-content: flex-start;
  flex-flow: row wrap;
  flex-wrap: wrap;
}

/*#pickactions {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
}*/

#freeactiondisplay {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 5px;
}

#actionsdisplay {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.display > img {
  width: 80%;
  height: 80%;
}

.display.masterycircle {
  width: 35px;
  height: 35px;
  margin: 5px;
}

.masteryicon {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#masterydisplay {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin-top: 5px;
  text-align: center;
}

.masterydisplay {
  display: flex;
  flex-direction: column;
  user-select: none;
}

.displaycircle {
  height: 15vw;
  width: 15vw;
  max-width: 95px;
  max-height: 95px;
  border-radius: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  user-select: none;
  box-sizing: border-box;
}

.displaycircle > img {
  height: 12vw;
  width: 12vw;
  max-width: 70px;
  max-height: 70px;
  margin: auto;
}

#equipmentdisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  user-select: none;
  text-align: center;
  flex-wrap: wrap;
}

.edisplay {
  display: flex;
  flex-direction: row;
}

.displaycircle.equipment {
  background-color: #b0b0b0;
}

.passivecontainer {
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 0.9rem;
  padding: 5px;
  max-width: 100%;
}

#statsdisplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  user-select: none;
  text-align: center;
  margin: 0.5vw 0;
}

#statsdisplay > div {
  margin-right: 10px;
}
.stat-numbers tr td{
  text-align: left;
}
.displaycircle.hp, .displaycircle.move {
  background-color: rgba(0,0,0,0);
}

.savecontainer, .expertisecontainer, .checkrollcontainer, .saverollcontainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  background: #e1e1e1;
  flex: 1 1 0;
}

#saveschecks{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.checkrollcontainer, .saverollcontainer {
  margin: 0.5vw;
  justify-content: space-around;
}

.checkrollcontainer > div, .saverollcontainer > div {
  margin: 0.75vw;
}

.checkrollcontainer > .rollcode, .saverollcontainer > .rollcode {
  font-size: 0.5em;
}

#masterycheckicons, #savesicons, #expertiseicons {
  display: flex;
  justify-content: center;
}

.hpcontainer{
  background: #c34747;
}
.movementcontainer{
  background: #6dc347;
}

.rangecontainer {
  background: #9802d9;
  display: none;
}

.statoutput{
  font-size: 80%;
  line-height: 90%;
}

.hpcontainer, .movementcontainer, .rangecontainer{
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  flex: 1 1 0;
}

.move img, .hp img, .range img{
  width: 60px;
}

.stat-text{
  font-weight: 700;
  font-size: 1em;
  margin-bottom: 10px;
  line-height: 100%;
}

#builddisplay .masterycategory {
  margin: 0.5vw 0;
}

#builddisplay .first{
  align-items: stretch;
}

table {
  border: none;
  font-size: 0.8rem;
  margin-top: 5px;
  text-align: center;
  width: 100%;
}

#inputbox table {
  width: auto;
  margin: 0 auto;
}

#inputbox table td{
  text-align: right;
  font-weight: 600;
}

.fas {
  color: black;
}

td {
  padding: 3px;
}

.expertcontainer {
  display: flex;
  max-height: 20vh;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.expert {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  padding: 5px;
}

#buildcodedisplay {
  text-align: center;
}

.single, .aoe {
  border-radius: 3px;
  padding: 2px;
  cursor: pointer;
  /*border: 1px solid rgba(0,0,0,0.7);*/
  box-shadow: 1px 1px 3px #999;
  box-sizing: border-box;
}

.single {
  background-color: #c06ce0;
}

.aoe {
  background-color: #71c1cd;
}

@media (min-width: 800px) {
.passivecontainer{
  margin-bottom: 5px;
}
}
@media (max-width: 800px) {
  #bodyback{
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
  }
  body{
    margin:0;
  }
  html{
    background-image: none!important;
    background-color: #eee;
  }
}

@media (max-width: 800px) {

  .tooltip {
    font-size: 0.6rem;
  }

  #statsdisplay {
    font-size: 0.8rem;
    margin: 0;
    margin-bottom: 3vh;
    flex-wrap: wrap;
  }

  #statsdisplay > div {
    margin-bottom: 2vh;
  }

  .expertcontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  table, td {
    font-size: 0.7rem;
    padding: 1px;
  }

  .masterycategory.first {
    display: flex;
    flex-direction: column;
  }

  .expert {
    padding: 0;
    font-size: 0.5rem;
    margin-bottom: 0.5vw;
  }

  #masterydisplay {
    font-size: 0.94rem;
    flex-wrap: wrap;
  }

  #equipmentdisplay {
    font-size: 0.9rem;
  }

  .edisplay {
    margin: 0 5px 5px 0;
  }

  .display.masterycircle {
    width: 8vw;
    height: 8vw;
  }

  .display > img {
    width: 6.5vw;
    height: 6.5vw;
  }
}

/* Header */
#mw-navigation {
    background: #111111;
    display: block;

}
.fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
}
.container{
  max-width: 1045px;
  margin: 0 auto;
  padding: 8px 15px 0 15px;
}
.navbar-brand{
  padding: 3px 0;
  display: inline-flex;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.nav-left{
  /*margin-left: 17px;*/
  display: inline-flex;
}
/* Dropdown Button */
.dropbtn {
  font-size: 16px;
  border: none;
  background-color: rgba(0,0,0,0);
  color: #eee;
  font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
  padding: 0;
}
/* The container <div> - needed to position the dropdown content */
.link, .fixed-top .dropdown {
  position: relative;
  display: inline-block;
  padding: 0;
  top: -6px;
  padding: .5rem;
}
.link{

  /*padding-right: .5rem;
  padding-left: .5rem;*/
}
.link a{
  color: #eee;
  text-decoration: none;
}
.dropdown-content a:hover, .dropdown:hover .dropbtn, .link a:hover{
  color: #30adbb;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  /*display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;*/
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  display: none;
  position: absolute;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f8f9fa;}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
.ddarrow{
  font-size: 6px;
}
@media (max-width: 475px){
.navbar-brand{
  text-align: center;
  margin: 0;
  display: block;
}
.nav-left {
    display: block;
    text-align: center;
}
#bodyback{
  padding-top: 100px;
}
}
